/* FONT FACE UPLOADS */
/* CREATIVE COMMONS LICENSE */
/* SOURCE: https://benlk.github.io/solbera-dnd-fonts/ */
/* Upload instructions: https://medialoot.com/blog/how-to-use-web-fonts/ */
@font-face {
	font-family: "Mr Eaves Small Caps";
	src: url("./fonts/Mr Eaves Small Caps.otf") format("opentype");
	font-weight: normal;
}
@font-face {
	font-family: "Nodesto Caps Condensed";
	src: url("./fonts/Nodesto Caps Condensed.otf") format("opentype");
	font-weight: normal;
}
@font-face {
	font-family: "Scaly Sans Bold Italic";
	src: url("./fonts/Scaly Sans Bold Italic.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
}
@font-face {
font-family: "Scaly Sans Bold";
src: url("./fonts/Scaly Sans Bold.otf") format("opentype");
font-weight: bold;
font-style: normal;
}
@font-face {
	font-family: "Scaly Sans Italic";
	src: url("./fonts/Scaly Sans Italic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Scaly Sans";
	src: url("./fonts/Scaly Sans.otf") format("opentype");
	font-weight: normal;
}
@font-face {
	font-family: "Zatanna Misdirection";
	src: url("./fonts/Zatanna Misdirection.otf") format("opentype");
	font-weight: normal;
}
.eaves {
  font-family: "Mr Eaves Small Caps", serif;
}
.nodesto {
  font-family: 'Nodesto Caps Condensed', serif;

}
.scaly-b-i {
  font-family: 'Scaly Sans Bold Italic', serif;
}
.scaly-b {
  font-family: 'Scaly Sans Bold', serif;
}
.scaly-i {
  font-family: 'Scaly Sans Italic', serif;
}
.scaly {
  font-family: 'Scaly Sans', serif;
}
.zatanna {
	font-family: 'Zatanna Misdirection', sans-serif;
}

/* ===============MAIN/CONTAINER============= */
* {
	box-sizing: border-box;
	color: rgb(142, 6, 0);
}

.black-text {
	color: black;
}

.container {
	display: flex;
}

.bg {
	background-image: url('./components/bg-texture.jpg');
	background-size: cover;
}

.gradient {
	background-image:
		linear-gradient(
			rgba(232, 210, 148, 0.3), rgba(232, 210, 148, 0.5)),
			url('./components/bg-texture.jpg');
}

.shadow {
   box-shadow: inset 0 0 3em rgb(130, 101, 43);
}
/* COLOR REFERENCE */
/* RED: rgb(142, 6, 0) */
/* PARCHMENT: rgb(248, 244, 216) */

/* ===============NAV============= */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
	align-items: baseline;
	height: 12vh;
	padding: 0 0 1em 0;
}

.title {
	font-size: 3em;
	font-weight: lighter;
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}

form {
	width: 30vw;
	text-align: center;
}

input{
	background-color: rgba(237, 219, 157, 0.3);
	padding: 0;
}

.search {
	border: none;
	border-top: 1px solid rgb(142, 6, 0);
	border-bottom: 1px solid rgb(142, 6, 0);
	font-size: 1.2em;
	line-height: 3em;
	margin: 0.1em;
	width: 80%;
	text-align: center;
}

.search::placeholder {
	font-size: 1.2em;
	color: rgb(142, 6, 0);
	padding: 0 0.4em
}

h4 {
	margin-right: 2em;
	font-size: 1.5em;
}

/* ===============MONSTER LIST============= */
.monsterList {
	overflow: scroll;
	list-style: none;
	width: 30vw;
	height: 88vh;
	text-align: center;
}

button {
	border: none;
	border-top: 1px solid rgb(142, 6, 0);
	font-size: 1.2em;
	line-height: 2em;
	margin: 0;
	padding: .5em;
	text-align: center;
	width: 80%;
}

button:hover {
  box-shadow: 0 2px 3px 0 rgba(69, 51, 2,0.24), 0 5px 7px 0 rgba(69, 51, 2,0.19);
}

button:active {
  transform: translateY(1px);
}

.button-gradient {
	background-color: rgba(227, 202, 145, 0.2);
}

/* ===============INFO STYLING============= */
.info-container {
	overflow-y: scroll;
	width: 65vw;
	height: 88vh;
}

.stats {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.indiv-stat {
	margin: 0 1em;
}

.str {
	margin: 0 1em 0 0;
}

/* DIVIDERS */
.divider {
  border-left: 65vw solid rgb(142, 6, 0);
  border-right: 0em solid transparent;
  border-bottom: 0.2em solid transparent;
  border-top: 0.2em solid transparent;
}

.action {
	border-bottom: 1px solid rgb(142, 6, 0);
}

/* ===============ABOUT STYLING============= */
.about {
	display: flex;
	flex-flow: column;
	overflow-y: scroll;
	width: 65vw;
	height: 88vh;
}

.about-header {
	font-size: 2em;
}
