/* FONT FACE UPLOADS */
/* CREATIVE COMMONS LICENSE */
/* SOURCE: https://benlk.github.io/solbera-dnd-fonts/ */
/* Upload instructions: https://medialoot.com/blog/how-to-use-web-fonts/ */
@font-face {
	font-family: "Mr Eaves Small Caps";
	src: url("./fonts/Mr Eaves Small Caps.otf") format("opentype");
	font-weight: normal;
}
@font-face {
	font-family: "Nodesto Caps Condensed";
	src: url("./fonts/Nodesto Caps Condensed.otf") format("opentype");
	font-weight: normal;
}
@font-face {
	font-family: "Scaly Sans Bold Italic";
	src: url("./fonts/Scaly Sans Bold Italic.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
}
@font-face {
font-family: "Scaly Sans Bold";
src: url("./fonts/Scaly Sans Bold.otf") format("opentype");
font-weight: bold;
font-style: normal;
}
@font-face {
	font-family: "Scaly Sans Italic";
	src: url("./fonts/Scaly Sans Italic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Scaly Sans";
	src: url("./fonts/Scaly Sans.otf") format("opentype");
	font-weight: normal;
}
@font-face {
	font-family: "Zatanna Misdirection";
	src: url("./fonts/Zatanna Misdirection.otf") format("opentype");
	font-weight: normal;
}
.eaves {
  font-family: "Mr Eaves Small Caps", serif;
}
.nodesto {
  font-family: 'Nodesto Caps Condensed', serif;

}
.scaly-b-i {
  font-family: 'Scaly Sans Bold Italic', serif;
}
.scaly-b {
  font-family: 'Scaly Sans Bold', serif;
}
.scaly-i {
  font-family: 'Scaly Sans Italic', serif;
}
.scaly {
  font-family: 'Scaly Sans', serif;
}
.zatanna {
	font-family: 'Zatanna Misdirection', sans-serif;
}

/* ===============MAIN/CONTAINER============= */
* {
	box-sizing: border-box;
	color: rgb(142, 6, 0);
}

.black-text {
	color: black;
}

.background {
	background-image:
		linear-gradient(
			rgba(232, 210, 148, 0.3), rgba(232, 210, 148, 0.8)),
			url('./components/bg-texture.jpg');
	background-size: cover;
	box-shadow: inset 0 0 3em rgb(130, 101, 43);
}

main {
	height: 140vh;
}

.container {
	width: 100vw;
	height: 100%;
}

/* ===============NAV============= */
.navbar-brand {
	color: 1px solid rgb(142, 6, 0)!important;
	margin: 0 auto!important;
}

.navbar-toggler-icon {
	border: none!important;
}

.title {
	color: rgb(142, 6, 0)!important;
	font-size: 1.2em;
	font-weight: lighter;
	margin: 0.7em auto;
	text-align: center;
}

.pages-nav {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

.nav-h4 {
	color: rgb(142, 6, 0)!important;
	text-decoration: underline!important;
}

.nav-h4:hover {
	color: rgb(82, 3, 0)!important;
	text-decoration: underline!important;
}

.navbar {
	padding: 1em auto!important;
}

/* ===============MONSTER LIST============= */
.monsterContainer {
	text-align: center;
}

form {
	text-align: center;
}

input{
	background-color: transparent;
	padding: 0;
}

.search-box {
	background-color: rgba(237, 219, 157, 0.4);
	border: 1px solid rgb(142, 6, 0);
	border-radius: 5px;
	margin: 0.2em auto;
	padding-left: 0.3em;
	text-align: center;
	width: 90%;
}

.search {
	border: none;
	font-size: 1.2em;
	line-height: 3em;
	margin: 0.1em;
	text-align: left;
}

.search::placeholder {
	font-size: 1.2em;
	color: rgba(142, 6, 0, 0.6);
	padding: 0 0.4em
}

.monsterList {
	border-right: 1px solid rgb(142, 6, 0);
	border-left: 1px solid rgb(142, 6, 0);
	max-height: 30vh;
	overflow: scroll;
	list-style: none;
	margin-top: 1em;
	padding: 0.2em;
	text-align: center;
}

.monster-button:hover {
  box-shadow: 0 2px 3px 0 rgba(69, 51, 2,0.24), 0 5px 7px 0 rgba(69, 51, 2,0.19);
}

.monster-button:active {
  transform: translateY(1px);
}

.monster-button {
	border: none;
	border-top: 1px solid rgb(142, 6, 0);
	font-size: 1.2em;
	line-height: 2em;
	margin: 0;
	padding: .5em;
	text-align: center;
	width: 80%;
	background-color: rgba(227, 202, 145, 0.2);
}

/* ===============INFO STYLING============= */
.info-container {
	background-color: rgba(237, 219, 157, 0.2);
	margin: 0 auto;
	overflow-y: scroll;
	width: 90%;
	max-height: 75vh;
	padding: 1em;
}

.stats {
	display: flex;
}

.indiv-stat {
	margin: 0 1em;
}

.str {
	margin: 0 1em 0 0;
}

.name {
	display: flex;
	justify-content: space-between;
	align-content: baseline;
}

.encounter-button {
	border: none;
	border-top: 1px solid rgb(142, 6, 0);
	border-bottom: 1px solid rgb(142, 6, 0);
	background-color: transparent;
	margin-bottom: 0.5rem;
}

.button-text {
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.2em;
}

.encounter-button:hover {
	box-shadow: 0 2px 3px 0 rgba(69, 51, 2,0.24), 0 5px 7px 0 rgba(69, 51, 2,0.19);
}

/* DIVIDERS */
.divider {
  border-left: 65vw solid rgb(142, 6, 0);
  border-right: 0em solid transparent;
  border-bottom: 0.2em solid transparent;
  border-top: 0.2em solid transparent;
}

.action {
	border-bottom: 1px solid rgb(142, 6, 0);
}

/* ===============ABOUT STYLING============= */
.about {
	background-color: rgba(237, 219, 157, 0.2);
	margin: 0 auto;
	overflow-y: scroll;
	width: 90%;
	max-height: 75vh;
	padding: 1em;
	overflow-y: scroll;
}

.about-header {
	font-size: 2em;
}

.inline-link {
	color: rgb(142, 6, 0)!important;
	text-decoration: underline!important;
}

.inline-link:hover {
	color: rgb(82, 3, 0)!important;
	text-decoration: underline!important;
}

/* ===============MEDIA QUERIES============= */
@media only screen and (min-width: 450px) {
	.title {
		font-size: 1.7em;
	}
}
@media only screen and (min-width: 575px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		 grid-template-rows: repeat(3, auto) repeat(3, 1fr);
		 grid-template-areas:
			 "title title title title title title"
			 "links links links links links links"
			 "search search info info info info"
			 "list list info info info info"
			 "list list info info info info"
			 "list list info info info info";
	}
	.title {
		grid-area: title;
		font-size: 2em;
	}
	.pages-nav {
		grid-area: links;
	}
	.search-box {
		grid-area: search;
	}
	.search {
		width: 90%;
	}
	.monsterList {
		border-left: none;
		grid-area: list;
		max-height: 75vh;
		height: 100%;
	}
	.monster-button {
		width: 90%;
	}
	.info-container {
		grid-area: info;
		max-height: 86vh;
	}
	main{
		height: 100vh;
	}
}
@media only screen and (max-width: 574px) {
	.desktop {
		display: none;
	}
}
